.nav {
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  font-size: 21px;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  padding: 30px 12px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('../images/jumbo.png');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 81px;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbologo {
  width: 409px;
  height: 310px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -204.5px;
  margin-top: -50px;
}

.thumbnail p {
  padding-top: 12px;
  font-size: 12px;
  text-align: center;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.produkt-guides {
  background-color: #fff;
}

.jumbo {
  background-color: #f7f7f7;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  padding-top: 25px;
}

.produkt-guides h2, .rubrik-text h2, .tillbaks h2 {
  font-family: 'Roboto-Light' sans-serif;
  text-align: center;
  font-size: 40px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #393c3d;
  margin-top: 37px;
  font-size: 40px;
  margin-bottom: 13px;
}

.produkt-guides h3 {
  font-family: 'Roboto-Thin' sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #393c3d;
  font-size: 16px;
  margin-bottom: 13px;
  letter-spacing: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.produkt-guides .thumbnail {
  margin: none;
  padding: none;
  border: none;
  background-color: transparent;
  position: relative;
}

.produkt-guides .thumbnail p{
  font-size: 12px;
  font-family: georgia;
  letter-spacing: 0.5px;
  padding-top: 15px;
}

.produkt-guides .thumbnail {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
.produkt-guides .thumbnail h4 {
  font-family: 'montserrat', sans-serif;
  font-size: 29px;
  color: #fff;
  text-shadow: 0 1px 8px rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
}

.historia {
  font-family: 'Helvetica' sans-serif;
  padding-top: 70px;
  background-color: #f7f7f7;
  padding-bottom: 70px;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;

}

.historia h2 {
  font-family: 'Roboto-Light' sans-serif;
  text-align: center;
  color: #393c3d;
  font-size: 40px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.historia p {
  padding-top: 10px;
  color: #262626;
  background-color: #f5f5f5;
  letter-spacing: 1px;
}

.snappsar {
  margin-top: 30px;
}

.snappsar h2, .snappsar h3{
  font-family: 'Roboto-Light' sans-serif;
  text-align: center;
  color: #393c3d;
  font-size: 40px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.snappsar h3 {
  font-size: 18px;
}

.flask-text, .kraft-text {
  padding-top: 80px;
  letter-spacing: 1px;
}

.flask-text p{
  letter-spacing: 1px;
}

.img-center {margin:0 auto;}

}

.snappsar hr {
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  width: 40%;
  max-height: 0;
  line-height: 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #ffffff;
}

.flask-text hr {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  width: 50%;
  max-height: 0;
  line-height: 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #ffffff;
}

.footertext {
  text-align: center;
  font-size: 10px;
  font-family: 'helvetica', sans-serif;
  color: #505050;
}


.btn-primary {
  color: #ffffff !important;
  background-color: #428bca !important;
  border-color: #357ebd !important;
}


footer {
  background-color: #f7f7f7;
}

.footer {
  color: #262626;
  margin-top: -20px;
  height: 60px;
  width: 100%;
}

.footer h3{
  font-size: 14px;
  font-weight: bold;
}

.footer hr {
  display: block;
  width: 100%;
  max-height: 0;
  line-height: 0;
  border-top: 1px solid #dbdbdb;
}

.kraftevent {
    padding-top: 20px;
}

.kontakt {
  margin-top: 50px;
  padding-top: 50px;
  font-family: 'Helvetica' sans-serif;
  background-color: #f7f7f7;
  border-top: 1px solid #dbdbdb;
}

.kontakt h2 {
  font-family: 'Roboto-Light' sans-serif;
  text-align: center;
  color: #262626;
  font-size: 40px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.kontakt p {
  font-family: 'Roboto-Light' sans-serif;
  color: #262626;
  font-size: 12px;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.tillbaks {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 45px;
}

#map {
  width: 100%;
  height: 400px;
}

.kontaktform {
  padding-bottom: 30px;
}

.kontaktform h3 {
  font-family: 'Roboto-Light' sans-serif;
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: inherit;
  color: #262626;
  text-transform: uppercase;
}

.femtio {
  padding-top: 50%;
  margin-top: -227.5px;
}

a {
  color: #262626;
  text-decoration: none;
}

a:link {
    color: #262626;
    text-decoration: none;

}

a:active {
    color: #262626;
    text-decoration: none;
}

a:visited {
    color: #262626;
    text-decoration: none;
}

a:hover {
  color: #262626;
  text-decoration: none;
}

#snapps {
  display: block;
  content: " ";
  margin-top: -110px;
  height: 110px;
  visibility: hidden;
}

#garden, #kraftan {
  display: block;
  content: " ";
  margin-top: -150px;
  height: 150px;
  visibility: hidden;
}

#kontakt {
  display: block;
  content: " ";
  margin-top: -130px;
  height: 130px;
  visibility: hidden;
}

#hem {
  display: block;
  content: " ";
  margin-top: -5px;
  height: 5px;
  visibility: hidden;
}



/*----Konsturktion--------*/


.konstruktion {
  position: relative;
  padding-top: 15%;
  left: 50%;
  margin-left: -204.5px;
}

.konstruktion-2 {
  font-family: 'Roboto-Light' sans-serif;
  text-align: center;
  color: #545454;
  top: 60%;

}

.konstruktion-2 h3 {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 4px;
}

.konstruktion-2 p {
  padding-top: 20px;
  font-size: 14px;
  letter-spacing: 2px;
}

.k-bakgrund {
  background-color: #f7f7f7;
}








