body {
  background-color: #fff;
}

.bakgrund {
  background: -webkit-linear-gradient(#dd89ad, #d45193); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#dd89ad, #d45193); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#dd89ad, #d45193); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#dd89ad, #d45193); /* Standard syntax (must be last) */
}

footer {
}

.hunddiv {
    margin-top: 110px;
    width: 700px;
    height: 170px;
    position: relative;
    left: 50%;
    background-image: url('../img/hund.png');
    background-repeat: no-repeat;
    background-size: 728px 171px;
    margin-left: -364px;
}​

.topdiv {
	height: 2em;
	width: 100%;
	background-color: #583638;
	position: absolute;
	z-index:3;
}

.container {
	width: 95%;
}

.header-container {
	position: relative;
	padding-top: 2em;
	height: 264px;
}

.logo {
  width: 550px;
  height: 397px;
  display: block;
  position: absolute;
  margin-top: 2em;
  left: 50%;
  margin-left: -275px;
  z-index:2;
}

.nav {
  display: block;
  margin:auto;
  margin-top: 2em;
  margin-bottom: 2em;
  left: 50%;
  z-index:2;
}

.knapp {
  position: relative;
  display: block;
  margin:auto;
  z-index:2;
  background: -webkit-linear-gradient(#f152a6, #cf3285); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f152a6, #cf3285); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f152a6, #cf3285);/* For Firefox 3.6 to 15 */
  background: linear-gradient(#f152a6, #cf3285); /* Standard syntax (must be last) */  -moz-border-radius:28px;
  -webkit-border-radius:1em;
  border-radius:1em;
  border:1px solid #fff;
  cursor:pointer;
  color:#ffffff;
  font-family: "Lato-Black", arial;
  font-size:3em;
  font-weight: 800;
  padding:30px 50px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}

.knapp-liten {
  position: relative;
  display: block;
  margin:auto;
  z-index:2;
  background: -webkit-linear-gradient(#f152a6, #cf3285); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f152a6, #cf3285); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f152a6, #cf3285);/* For Firefox 3.6 to 15 */
  background: linear-gradient(#f152a6, #cf3285); /* Standard syntax (must be last) */  -moz-border-radius:28px;
  -webkit-border-radius:1em;
  border-radius:1em;
  border:1px solid #fff;
  cursor:pointer;
  color:#ffffff;
  font-family: "Lato-Black", arial;
  font-size:1.5em;
  font-weight: 800;
  padding:20px 30px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}

.knapp-liten-submit {
  position: relative;
  display: block;
  margin:auto;
  z-index:2;
  background: -webkit-linear-gradient(#f152a6, #cf3285); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f152a6, #cf3285); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f152a6, #cf3285);/* For Firefox 3.6 to 15 */
  background: linear-gradient(#f152a6, #cf3285); /* Standard syntax (must be last) */  -moz-border-radius:28px;
  -webkit-border-radius:1em;
  border-radius:1em;
  border:1px solid #fff;
  cursor:pointer;
  color:#ffffff;
  font-family: "Lato-Black", arial;
  font-size:1.5em;
  font-weight: 800;
  padding:20px 150px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}

.japansol {
  width: 100%;
  height: auto;
  display: block;
  left: 50%;
  top: -190%;
  margin-left: -50%;
  position: absolute;
  z-index:1;
}

.andra {
	padding-top: 200px;
}

h2, h3, h4, h5, h6 {
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-weight: 500;
	font-style: normal;
	text-align: center;
  margin-bottom: none;
  margin-top: none;
}

h3 {
  font-size: 1.9em;
  text-align: left;
  color: #fff;
}

p {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 1.3em;
}

.femte p {
  z-index:3;
  position: relative;
  color: #b3246b;
  font-weight: 500;
  width: 300px;
  left: 25%;
  margin-top: -40px;
}

.andra h2, .femte h2, .rubriktext h2 {
	font-family: "Lato-Black", arial;
	font-size: 7em;
	color: #fff;
	text-transform: uppercase;
	font-weight: 800;
	text-shadow: -5px 5px #aa3e78;
}

.femte h2 {
    z-index:3;
    position: relative;
}

.femte-2 p{
  color: #fff;
}

.femte-2 h3 {
  margin-top: 90px !important;
}

.femte h4 {
  position: absolute;
  font-family: "Lato-Black", arial;
  font-size: 2.5em;
  color: #b3246b;
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: -2px 2px #fff;
  left: 50%;
  margin-top: -110px;
  margin-left: -125px;
}

hr {
  margin-top: 180px;
  margin-bottom: 180px;
  display: block;
  width: 40%;
  max-height: 0;
  line-height: 0;
  border-top: 10px solid #fff;
}

.nagot {
  text-align: center
}

.nagot h3{
  text-align: center;
}

.tavlingtext {
  padding-top: 30px;
  font-size: 0.8em;
}

.heading-1 {
font-size: 10em !important;
}

.heading-2 {
font-size: 11em !important;
}

.heading-3 {
font-size: 5.5em !important; 
}

.kontaktform p {
  margin: 0 0 3px;
}

.regler {
}

.regler p {
  font-size: 1.2em;
}

.regler h3 {
  padding-bottom: 30px;
}

a {
  color: #fff;
}

a:link {
    color: #fff !important;
}

/* visited link */
a:visited {
    color: none !important;
    text-decoration: none;

}

/* mouse over link */
a:hover {
    color: #fff !important;
    text-decoration: none;
    text-shadow: -2px 2px #aa3e78;
}

/* selected link */
a:active {
    color: none !important;
    text-decoration: none;

}

.form-horizontal {
    z-index:2;
    position: relative;
}

.regler-lank {
  position: relative;
  z-index: 3;
}

.regler-lank a:link{
    text-decoration: underline;
}

ul {
  color: #fff;
  font-size: 1.2em;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v11/t85RP2zhSdDjt5PhsT_SnlKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v11/lEjOv129Q3iN1tuqWOeRBgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}