html,body {
	height: 100%;margin: 0px;
}

footer {
	background-color: #265826;
  height: 110px;
}

.footer {
  color: #fff;
  text-align: center;
  font-size: 13px;
  padding-top: 25px;
}

#loading {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */
}

#logobig {
  padding-top: 70px;
  margin-left: -146px;
  left: 50%;
  position: absolute;
}

.loading_big {
  padding-top: 30px;
  margin-left: -200px;
  left: 50%;
  position: absolute;
}

.imgload {
	 width: 100px;
	 height: 75px;
	 display: block;
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 margin-left: -50px;
	 margin-top: -37.5px;
}


.nav {
	background-color: #fff;
	font-size: 21px;
  display: block;
}

.nav h2 {
	font-size: 2em;
}

.nav a {
  color: #161616;
  padding: 30px 12px;
  text-decoration: none;
}

.nav li {
	font-family: "roboto-light", "helvetica neue", helvetica, arial, sans-serif;
	padding-top: 14px;
	font-size: 0.8em;
}

.jumbo {	
  margin-top: 60px;
  background-color: #387337;
  height: 500px;
  background-size: cover;
}

.box {
  padding-top: 10px;
  padding-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.serie-cover {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.butik {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.butik .container {
  padding-top: 18%;
  position: relative;
}

.butik h2 {
  font-family: "Muli", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5em;
  text-align: center;
}

.payoff {
  padding-top: 40px;
  padding-bottom: 40px;
 	background-color: #f5f5f5;
	background-repeat: no-repeat;
	background-size: cover;
}

.mail-respons, .mail-respons-error {
  padding-top: 60px;
  padding-bottom: 10px;
  background-color: #387337;
  background-repeat: no-repeat;
  background-size: cover;
}

.mail-respons h2, .mail-respons-error h2 {
  padding-top: 10px;
  font-family: "Slabo 27px", serif;
  font-size: 28px;
  font-style: normal;
  line-height: 1.5em;
  text-align: center;
  color: #fff;
}

.mail-respons-error {
  background-color: #c74040;
}

.faq-text{
  padding-top: 50px;
  padding-bottom: 100px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}

.faq-text hr{
  margin-top: 60px;
  margin-bottom: 60px;
  display: block;
  width: 50%;
  max-height: 0;
  line-height: 0;
  border-top: 1px solid #387337;
}

.message {
  padding-bottom: 60px;
 	background-color: #f5f5f5;
	background-repeat: no-repeat;
	background-size: cover;
}

.faq {
  margin-top: 60px;
  padding-top: 100px; 
  padding-bottom: 100px; 
  overflow: hidden;
  background-color: #387337;
}

.faq h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 54px;
}

.btn-colors {
  border-radius: 0px;
  color: #fff;
  background-color: #387337;
  border: 1px solid #265826;
  font-size: 16px;
  padding: 10px 10px;
}

.btn-colors:hover {
  background-color: #265826;
  color: #fff;
}

h2, h3, h4, h5, h6 {
	font-family: "Muli", "helvetica neue", helvetica, arial, sans-serif;
	font-weight: 500;
	font-style: normal;
	line-height: 1.5em;
	text-align: center;
}

.first-page h4 {
  font-family: "Muli", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 26px;
  font-style: normal;
  line-height: 1.5em;
  text-align: center;
  padding-bottom: 10px;
}

.payoff h2, .message h2, .instick h2, .first-page h2, .partners h2, .butik h2, .first-page h3{
	font-family: "Slabo 27px", serif;
  font-weight: 300;
	font-size: 42px;
}

.first-page h3 {
  font-size: 34px;
  padding-bottom: 25px;
}

.payoff h2 {
  color: #387337;
  font-size: 18px;
}

p {
  font-family: "Slabo 27px", serif;
  line-height: 1.8;
}

.first-page p {
  font-size: 16px;
  color: #454545;
}

.faq-text p {
  font-size: 16px;
  color: #454545;
}

.faq-text h2{
  text-align: left;
  color: #387337;
  font-size: 32px;
}

.faq-list {
  text-align: left;
  font-family: "Slabo 27px", serif;
  font-size: 16px;
  color: #454545;
}

.faq-list li {
  margin: 10px 0;
}

.faq-list li span {
  position: relative;
  left: 22px;
}

#map {
  margin-top: 60px;
  width: 100%;
  height: 450px;
}

.kontakt-info .lista {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.5;
  margin-left: 0;
  list-style: none;
  display: block;
  margin-bottom: 30px;
}

.logo {
  position: relative;
  left: 50%;
  margin-top: 14%;
  margin-left: -132.5px;
}

.logo-text {
  font-family: "Slabo 27px", serif;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  color: #fff;
}

::selection {
  background: #dcffbf; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #dcffbf; /* Gecko Browsers */
}


/* navbar */
.navbar-default {
    background-color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #000;
}