@charset "utf-8";

body {
	margin: 0px;
	padding: 0px;
	background-size: 1024px;
	width: 1024px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-user-select: none;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    background-image: url(images/bg@2x.jpg);
	background-size: 1024px;
}

.container {
	width: 1024px;
}

.textstyle p {
  font-family: 'arial' sans-serif;
  text-align: center;
  color: #fff;
  font-size: 54px;
  letter-spacing: 1px;
  position: absolute;
  text-transform: uppercase;
}

.bullar {
	position: absolute;
	height: 500px;
	margin-top: -250px;
	left: 384px;
	top: 512px;
	margin-left: -250px;
}



.knapp {
	background-color:#fff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#61b4a8;
	font-family: 'arial' sans-serif;
	font-size:54px;
  height: 130px;
  width:130px;
  text-align: center;
	font-weight:bold;
	text-decoration:none;
	position: absolute;
}

.knapp p {
  margin-top: 25px;
}

.knappnoll {
	background-color:#fff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#61b4a8;
	font-family: 'arial' sans-serif;
	font-size:54px;
	font-weight:bold;
	text-decoration:none;
	position: absolute;
  text-align: center;
  width: 420px;
  height: 100px;
}

.knappnoll p {
  margin-top: 9px;
}


.storknapp {
	background-color:#fff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#61b4a8;
	font-family: 'arial' sans-serif;
	font-size:54px;
	font-weight:bold;
	text-decoration:none;
	position: absolute;
  width: 510px;
  height: 100px;
  text-align: center;
}

.storknapp p {
  margin-top: 9px;
}

.mellanknapp {
  background-color:#fff;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ea5b22;
  font-family: 'arial' sans-serif;
  font-size:54px;
  font-weight:bold;
  text-decoration:none;
  position: absolute;
  width: 220px;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
}

.mellanknapp p {
  margin-top: 9px;
}



form {
  position: absolute;
  top: 100px;
  width:510px;
}

label {
  margin-left: -255px;
  display:block;
  margin-top:20px;
  letter-spacing:1px;
}

input {
  -webkit-appearance: none;
  display: inline-block;
  font-family: 'arial', sans-serif;
  text-align: center;
  width:510px;
  height:100px;
  background:#fff;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:1px solid #dedede;
  margin-top:3px;
  font-size:30px;
  text-transform: uppercase;
  color: #eaeaea;
}

input:focus {
  border:1px solid #cfa02d;
}

.form {
  left: 384px; 
  top: 340px;
  margin-left: -255px;
  color: #eaeaea;
}

.submit {
  width: 510px;
  height: 100px;
  margin-top: 20px;
  font-family: 'arial', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #f9c23a;
}

