@import url('https://fonts.googleapis.com/css?family=Muli:200,300,300i,400,400i,600,700');

.containern {
    max-width: 900px;
    display: block;
    margin: auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2.5em 0;
    padding: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'muli', sans-serif;
    color: #2b2b2b;
    font-weight: 400
}

h1 {
    line-height: 1.3;
    font-size: 32px;
    letter-spacing: 0.2px;
}

h2 {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.3px;
}

h3 {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.3px;
}

h4 {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.3px;
}

h5 {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.3px;
}

h6 {
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: 0.3px;
}

p {
    font-family: 'muli', sans-serif;
    line-height: 1.5;
    color: #2b2b2b;
    font-size: 14px;
}

p.Preamble {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
}

p.legal {
    font-size: 12px;
    font-weight: 200;
    line-height: 1.5;

}

.button {
    font-family: 'muli', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.8px;
    border-width: 1px;
    border-style: solid;
    height:50px;
    width: 225px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button-primary {  
    border-color: #00597e;
    background-color: #00597e;
    color: #fff;
}

.button-cta {
    border-color: #fdcc2f;
    background-color: #fdcc2f;
    color: #000;
    font-weight: 700;
}

.button-ghost {  
    border-color: #7ea0b7;
    background-color: #fff;
    color: #7ea0b7;
}


.button-primary:hover {  
    border-color: #073c52;
    background-color: #073c52;
    color: #fff;
}

.button-cta:hover {
    border-color: #e5ad17;
    background-color: #e5ad17;
    color: #000;
}

.button-ghost:hover {  
    border-color: #7ea0b7;
    background-color: #7ea0b7;
    color: #fff;
}

.link-underline {
	  border-bottom: 1px solid #2b2b2b;
}

button:focus, utton:focus { 
    border: 1px solid #888;
    outline: none;
}

input, textarea{
    font-family: 'muli', sans-serif;
    font-size: 14px;
    width: 100%;
    color: #2b2b2b;
    border-radius: 0;
    border: 1px solid #ccc;
    height: 30px;
}

input:focus, textarea:focus { 
    border: 1px solid #888;
    outline: none;
}

textarea {
    min-height: 150px;
}


div.checkbox-fix, div.radio-fix {
    margin-top: 20px;
}

img.checkbox-fix, img.radio-fix {
  vertical-align: middle;
}


span.checkbox-fix, span.radio-fix  {
    font-family: 'muli', sans-serif;
    line-height: 1.7;
    letter-spacing: 0.3px;
    color: #2b2b2b;
    font-size: 14px;
    margin-left: 20px;
}

span.checkbox-chosen {
    color: #2b2b2b;
}


.label {
    font-family: 'muli', sans-serif;
    line-height: 1.7;
    letter-spacing: 0.3px;
    color: #2b2b2b;
    font-size: 14px;
    margin: 15px 0 5px;
    display: inline-block;
}

.message {
    border-radius: 0;
    padding: 20px;
    display: block;
    margin: 5px auto;
    font-family: 'muli', sans-serif;
    line-height: 1.7;
    letter-spacing: 0.1px;
    font-size: 14px;
}

.message span {
  border-bottom: 1px solid white;
}

.message-sucess {
    background-color: #e5efe5;
    color: #006400;
}

.message-sucess span {
  border-bottom: 1px solid #006400;
}

.message-warning {
    background-color: #ffee9c;
    color: #2b2b2b;
}

.message-warning span {
  border-bottom: 1px solid #2b2b2b;
}

.message-error {
    background-color: #fae5e5;
    color: #e02b27;
}

.message-error span {
  border-bottom: 1px solid #e02b27;
}


li {
    font-family: 'muli', sans-serif;
    line-height: 1.7;
    letter-spacing: 0.3px;
    color: #2b2b2b;
    font-size: 14px;
}







