@charset "utf-8";

body {
	margin: 0px;
	padding: 0px;
	background-size: 1024px;
	width: 1024px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-user-select: none;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    background-image: url(images/bg@2x.jpg);
	background-size: 1024px;
}

.container {
	width: 1024px;
}

.textstyle p {
  font-family: 'arial' sans-serif;
  text-align: center;
  color: #fff;
  font-size: 54px;
  letter-spacing: 1px;
  position: absolute;
  text-transform: uppercase;
}

.nmbr_bubble {
  position: absolute;
  -webkit-appearance: none;
  display: inline-block;
  font-family: 'arial', sans-serif;
  text-align: center;
  height:100px;
  width: 475px;
  background:#fff;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border:1px solid #dedede;
  font-size:70px;
  text-transform: none;
  color: #358fc3;
  font-weight: 900;
  top: 230px;
  left: 384px; 
  margin-left: -239.5px;
}

.form {

}


