html,body {
	height: 100%;margin: 0px;
}

footer {
	font-family: pt-sans;
	font-size: 11px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
	color: #dadada;
	padding-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0px;
}

.jumbo {	
  margin-top: 30px;
  background-image: url("../img/front.jpg");
  height: 500px;
  background-size: cover;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

.product-content .information {
	letter-spacing: 2px;
	color: #ababab;
	text-align: center;
	font-family: pt-serif;
}

.product-grid {
	padding-top: 20px;
}

.product-grid p {
	letter-spacing: 1px;
	font-size: 12px;
	font-family: open sans;
	padding-top: 15px;
	padding-bottom: 35px;
	color: #a0a0a0;
}

.product-grid h1{
	padding-left: 15px;
	text-align: left;
	color: #383838;
	font-size: 22px;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-family: pt-sans;
	padding-bottom: 25px;
}

.product-content h1, .offert-form h1 {
	text-align: left;
	color: #383838;
	font-size: 32px;
	letter-spacing: 6px;
	text-transform: uppercase;
	font-family: pt-sans;
}

.front-img {
	padding-top: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto 
}

.nav ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.nav li {
    display:inline;
}

.nav li a {
	font-family: futura-pt;
	font-size: 16px;
	letter-spacing: 1px;
    display: inline-block;
    color: black;
    padding: 20px 50px;
    text-decoration: none;
}

li a:hover {
    color: #a0a0a0;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}


/* CSS used here will be applied after bootstrap.css */
.carousel {
    margin-top: 20px;
}

.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
.item .thumb img {
	width: 100%;
}
.item img {
	width: 800px;	
}

.offert-form {
	padding-top: 40px;
	padding-bottom: 40px;
}


.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 14px;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

.sharp {
  border-radius:0;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #fff;
    color: #000;
    border: 1px solid #000;

}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #000;
}
.btn-primary:active, .btn-primary.active {
    background: #fff;
    color: #000;
    border: 1px solid #fff;
    box-shadow: none;
}
