/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
}

html,
body {
  margin: 0;
  height: 100%;
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */

.page-wrapper {
  min-height: 100vh;
  height: 100%;
}

body {
  font-weight: 400;
  font-size: 14px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Muli", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5em;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

h2, h3, h4, h5, h6 {

}

p {
  font-family: "Slabo 27px", serif;
  line-height: 1.8;
}

/* ==========================================================================
   #CONTENT
   ========================================================================== */

footer {
  background-color: #265826;
  height: 110px;
}

.footer {
  color: #fff;
  text-align: center;
  font-size: 13px;
  padding-top: 25px;
}

#loading {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */
}

#logobig {
  padding-top: 70px;
  margin-left: -146px;
  left: 50%;
  position: absolute;
}

.loading_big {
  padding-top: 30px;
  margin-left: -200px;
  left: 50%;
  position: absolute;
}

.imgload {
	 width: 100px;
	 height: 75px;
	 display: block;
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 margin-left: -50px;
	 margin-top: -37.5px;
}


/* ==========================================================================
   #NAVIGATOR
   ========================================================================== */

.nav {
	background-color: #fff;
	font-size: 21px;
  display: block;
}

.nav h2 {
	font-size: 2em;
}

.nav a {
  color: #161616;
  padding: 30px 12px;
  text-decoration: none;
}

.nav li {
	font-family: "roboto-light", "helvetica neue", helvetica, arial, sans-serif;
	padding-top: 14px;
	font-size: 0.8em;
}

/* navbar */
.navbar-default {
    background-color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #000;
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/* ==========================================================================
   #TEXT
   ========================================================================== */

.w-text-header {
  color: #fff;
  text-transform: uppercase;
  font-size: 54px;
}

.big-text {
  font-family: "Slabo 27px", serif;
  font-weight: 300;
  font-size: 42px;
}

.title-text {
  font-family: "Slabo 27px", serif;
  font-size: 34px;
}

.subject-text {
  font-family: "Slabo 27px", serif;
  font-size: 26px;
}

.center-text {
  text-align: center;
}

.paragraph {
  font-size: 16px;
  color: #454545;
}

.bolded {
  font-family: "Muli", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 700;
}

.g-cursive {
  font-size: 18px;
  font-style: italic;
  color: #387337;
}

.g-text {
  color: #387337;
  font-size: 18px;
}

.g-header {
  color: #387337;
  font-size: 32px;
}

.logo-text {
  font-family: "Slabo 27px", serif;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  color: #fff;
}

.list-style {
  text-align: left;
  font-family: "Slabo 27px", serif;
  font-size: 16px;
  color: #454545;
}

.list-style li {
  margin: 10px 0;
  position: relative;
  left: 22px;
}

.mail-respons h2, .mail-respons-error h2 {
  padding-top: 10px;
  font-family: "Slabo 27px", serif;
  font-size: 28px;
  font-style: normal;
  line-height: 1.5em;
  text-align: center;
  color: #fff;
}

@media (max-width: 768.2px) {
  .w-text-header {
    font-size: 30px;
  }
}

/* ==========================================================================
   #ANVÄNDS
   ========================================================================== */

.jumbo {	
  margin-top: 60px;
  background-color: #387337;
  height: 500px;
  background-size: cover;
}

.verkstad-img {
  margin-top: 60px;
  height: 311px;
  overflow: hidden;
  background-color: #f2f2f2;
  background-image: url("../img/verkstad.jpg");
  background-position: top center;
  background-size: 100% auto;
}

@media (max-width: 768.2px) {
  .verkstad-img {
    background-size: auto 100%;
  }
}

.img-full {
  width: 80%;
  height: auto;
}


.green-top {
  margin-top: 60px;
  padding-top: 100px; 
  padding-bottom: 100px; 
  overflow: hidden;
  background-color: #387337;
}

.bottom-banner {
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

.divider {
  margin-top: 60px;
  margin-bottom: 60px;
  display: block;
  max-height: 0;
  line-height: 0;
  border-top: 1px solid #ccc;
}

.btn-colors {
  border-radius: 0px;
  color: #fff;
  background-color: #387337;
  border: 1px solid #265826;
  font-size: 16px;
  padding: 10px 10px;
}

.btn-colors:hover {
  background-color: #265826;
  color: #fff;
}

.serie-cover {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mail-respons, .mail-respons-error {
  padding-top: 60px;
  padding-bottom: 10px;
  background-color: #4da24c;
  background-repeat: no-repeat;
  background-size: cover;
}

.mail-respons-error {
  background-color: #c74040;
}

.green-top-adjusted {
  padding-top: 100px; 
  padding-bottom: 100px; 
  overflow: hidden;
  background-color: #387337;
}

.logo {
  position: relative;
  left: 50%;
  margin-top: 14%;
  margin-left: -132.5px;
}

::selection {
  background: #dcffbf; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #dcffbf; /* Gecko Browsers */
}


/* ==========================================================================
   #SPACING
   ========================================================================== */


.p-t-100 {
  padding-top: 100px;
}

.p-t-180 {
  padding-top: 180px;
}

.p-t-60 {
  padding-top: 50px;
}

.p-t-50 {
  padding-top: 50px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.m-t-10 {
  margin-top: 10px;
}

@media (max-width: 1199.98px) and (min-width: 992px) {
  .box-fix {
    min-height: 200px;
  }
  .box-text-fix {
    min-height: 70px;
  }
}

@media (min-width: 1199.98px) {
  .box-fix {
    min-height: 170px;
  }
}



