html,body {
	height: 100%;margin: 0px;
}

#loading
 {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */
 }

.imgload {
 width: 100px;
 height: 75px;
 display: block;
 position: absolute;
 left: 50%;
 top: 50%;
 margin-left: -50px;
 margin-top: -37.5px;
}

#first{
	background:#fff;
 }

#second {
 }

#third {
	background: #fcfcfc;
 }

 #fourth {
	background: #2d2d2d;
 }

.first-content, .second-content {
    margin-left: auto;
    margin-right: auto;
}

.second-content h2, .first-content h2 {
	font-family:'Roboto-Light' sans-serif;
	text-align: center;
	font-size: 60px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #2d2d2d;
	margin-top: none;
	margin-bottom: none;
}

.first-content h2 {
	font-family:'Roboto' sans-serif;
	color: #fff;
}

.second-content h2 {
	font-family: 'PTsans-regular', sans-serif;
	font-size: 75px;
	padding-top: 75px;
	text-transform: none;
}

.first-content h3, .second-content h3 {
	font-family:'Roboto-Light' sans-serif;
	text-align: center;
	font-size: 30px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #fff;
	margin-top: none;
	margin-bottom: none;
}

.second-content h3 {
	font-family: 'OpenSans', sans-serif;
	font-size: 20px;
	text-transform: none;
	color: #2d2d2d;
}


.third-content h2 {
	font-family: 'PTsans-regular', sans-serif;
	text-align: center;
	font-size: 75px;
	letter-spacing: 4px;
	color: #2d2d2d;
	margin-top: none;
	margin-bottom: none;
}

.third-content h3{
	font-family: 'OpenSans', sans-serif;
	text-align: center;
	font-size: 30px;
	letter-spacing: 4px;
	color: #2d2d2d;
	margin-top: none;
	margin-bottom: none;
}


.contact {
	font-family:'Roboto-Light' sans-serif;
	text-align: justify;
	font-size: 15px;
	letter-spacing: 1px;
	margin-top: none;
	margin-bottom: none;
}

.contact h2 {
	font-family:'Roboto' sans-serif;
	text-align: center;
	font-size: 55px;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin-top: none;
	margin-bottom: none;
}

.contact h3 {
	font-family:'Roboto-Light' sans-serif;
	text-align: center;
	font-size: 26px;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin-top: none;
	margin-bottom: none;
}

.contact-info {
	font-size: 12px;
}

.brodtext {
	font-family:'PTserif-regular' sans-serif;
}


hr {
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  width: 20%;
  max-height: 0;
  line-height: 0;
  border-top: 3px solid #2d2d2d;
}

.divider {
	margin-bottom: -20px;
}

footer {
	height: 150px;
	background-color: #2d2d2d;
}

.footer-nav {
	font-family: 'Roboto-Light', sans-serif;
	padding-top: 70px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
}

.footer-nav a:link, a:visited, a:hover, a:active{
	color: #fff;
	text-decoration: none;
}




