@charset "utf-8";

body {
  margin: 0px;
  padding: 0px;
  background-size: 1024px;
  width: 1024px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-user-select: none;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
  background-size: 1024px;
}

.container {
  width: 1024px;
}

.container-stats {
  width: 510px;
  left: 129px;
  position: absolute;
  top: 450px;
}

.container-stats h2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'arial' sans-serif;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: none;
}

#stats {
  text-transform: none;
  font-family: 'arial' sans-serif;
  letter-spacing: 0px;
  margin:0;
  font-family: 'arial' sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: none;
}


#right {
  float:left;
  width:50%;
  overflow:hidden;
  text-align: right;
}

#left {
  float:left;
  width:50%;
  overflow:hidden;
  text-align: left;
}

.textstyle p {
  font-family: 'arial' sans-serif;
  text-align: center;
  color: #fff;
  font-size: 54px;
  letter-spacing: 1px;
  position: absolute;
  text-transform: uppercase;
}

.produkt {
  position: absolute;
  height: 500px;
  margin-top: -295px;
  left: 384px;
  top: 512px;
  margin-left: -250px;
}



.knapp {
  background-color:#fff;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#358fc3;
  font-family: 'arial' sans-serif;
  font-size:54px;
  height: 130px;
  width:130px;
  text-align: center;
  font-weight:bold;
  text-decoration:none;
  position: absolute;
}

.knapp p {
  margin-top: 25px;
}

.knappnoll {
  background-color:#fff;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#358fc3;
  font-family: 'arial' sans-serif;
  font-size:54px;
  font-weight:bold;
  text-decoration:none;
  position: absolute;
  text-align: center;
  width: 420px;
  height: 100px;
}

.knappnoll p {
  margin-top: 9px;
}


.storknapp, .navknapp {
  background-color:#fff;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#61b4a8;
  font-family: 'arial' sans-serif;
  font-size:54px;
  font-weight:bold;
  text-decoration:none;
  position: absolute;
  width: 510px;
  height: 100px;
  text-align: center;
}

.storknapp p {
  margin-top: 9px;
}

.navknapp p {
  margin-top: 32px;
}

.mellanknapp {
  background-color:#fff;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ea5b22;
  font-family: 'arial' sans-serif;
  font-size:54px;
  font-weight:bold;
  text-decoration:none;
  position: absolute;
  width: 220px;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
}

.mellanknapp p {
  margin-top: 9px;
}



form {
  position: absolute;
  width: 510px;
}

label {
  margin-left: -255px;
  display:block;
  margin-top:20px;
}

input, textarea {
  -webkit-appearance: none;
  display: inline-block;
  font-family: 'arial', sans-serif;
  text-align: center;
  height:100px;
  background:#fff;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border:1px solid #dedede;
  font-size:30px;
  text-transform: none;
  color: #f9c23a;
  width: 475px;
}

textarea {
  padding-left: 20px;
  padding-top: 20px;
  text-align: left;
  width: 485px;
  height:360px;
  font-size: 25px;
  font-family: 'Arial', sans-serif;
}

.form {
  left: 384px; 
  top: 340px;
  margin-left: -255px;
  color: #eaeaea;
}

li {
  list-style: none;
}

.dialpad .number {
  position:absolute;
  left: 185px; 
  top: 230px;
  z-index:2;
  height:78px;

  color:#358fc3;
  font-family: 'arial' sans-serif;
  font-size:70px;
  margin-top: 35px;
  font-weight:bold;
  text-decoration:none;
}
 
ol li {
  position: absolute;
  background-color: #fff;
}

.dialpad .dials{
  cursor:pointer;
}

.dialpad .dials:after {
  clear:both
}

.dialpad .dials .digits {
  float:left;
  width:130px;
  height: 130px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  text-align: center;
  font-weight:bold;
  text-decoration:none;
}

.dialpad .dials .digits p {
  font-size:30px;
  color: #fff;
  text-align: center;
}

.dialpad .dials .digits:active{
}

.compact .dials .digits p{
  color:#358fc3;
  font-family: 'arial' sans-serif;
  font-size:70px;
  margin-top: 35px;
}

.compact .dials .digits h2{
  color:#358fc3;
  font-family: 'arial' sans-serif;
  font-size:24px;
  margin-top: 54px;
}

.rensa-vidare {
  position: absolute;
  float:left;
  width:130px;
  height: 130px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  text-align: center;
  font-weight:bold;
  text-decoration:none;
  color:#358fc3;
  font-family: 'arial' sans-serif;
  font-size:24px;
}

.rensa-vidare p {
  margin-top: 48px;
}

.number-box {
  left: 384px; 
  top: 235px;
  margin-left: -255px;
  font-size: 70px;
  color: #358fc3;
  font-weight: bold;
  position: absolute;
}